<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mcommerce</title>
    <!DOCTYPE html>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <div th:insert="fragments/header.html">...</div>

</head>
<body>

<div class="container">

    <h1>Liste des livres dans la Bibliothèque : </h1>

<div th:each="book : ${books}" >
        <p th:text= "${book.title}"></p>
</div>
</div>

</body>
<footer>
    <div th:insert="fragments/footer.html">...</div>
</footer>
</html>