<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Livre </title>
    <div th:insert="fragments/header.html">...</div>

    <style>
        .container1 {
            margin: 25px;
        }
    </style>


</head>
<body>

<div class="container1 justify-content-center bg-light col-12 rounded">


    <h1 th:text="${book.title}"> by <span th:text="${book.author}"></span>
    </h1>

    <p> genre : <span th:text="${book.genre}"></span></p>

    <p> date de parution : <span th:text="${book.releaseDate}"></span></p>

    <p> description : <span th:text="${book.summary}"></span></p>

    <p>Nombre d'exemplaire disponible : <span th:text="${nbCopy}"></span>
    </p>


</div>

</body>
<footer>
    <div th:insert="fragments/footer.html">...</div>
</footer>
</html>