<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bibliothèque</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>

</head>
<body>

<div class="container">


    <h1 th:text="${book.title}"> by <span th:text="${book.author}"></span>
    </h1>

    <p> genre : <span th:text="${book.genre}"></span></p>

    <p> date de parution : <span th:text="${book.releaseDate}"></span></p>

    <p> description : <span th:text="${book.summary}"></span></p>

    <p>Nombre d'exemplaire disponible : <span th:text="${nbCopy}"></span>
    </p>


</div>

</body>
</html>