<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>Emprunts </title>
        <div th:insert="fragments/header.html">...</div>

    </head>
<body>

<div class="container">

    <h1>Liste des emprunts : </h1>
    
    <div th:each="entry  : ${map}">
        <div th:each="book : ${entry.value}">
            <p th:text="${book.title}"></p>
        </div>
        <div th:each="loan : ${entry.key}">
            <p th:text="${loan.endDate}"></p>
        </div>

    </div>


</div>

</body>
<footer>
    <div th:insert="fragments/footer.html">...</div>
</footer>
</html>